* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: rgb(212, 191, 191);
    box-sizing: border-box;
}

h1 {
	color: rgb(107, 71, 71);
	font-size: 3rem;
	font-weight: 50;
	text-align: center;
	margin: 1rem 0 3rem; 
	font-family: 'Hind', sans-serif;
}

.title{
	color: rgb(218, 86, 86);
	text-transform: uppercase;
	font-weight: 800;
}

.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
}

.add{
	outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: rgb(190, 141, 76);
    color: rgb(83, 55, 55);
    cursor: pointer;
    transition: .5s;
    margin: 0.40rem;
}

.add:hover{
	opacity: 0.6;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
}

.item{
	padding: 0.4rem;
	border-bottom: 3px solid rgb(104, 104, 102);
	margin-bottom: 1rem;
}

.item_input{
	background: none;
	outline: none;
	border: none;
	color: rgb(109, 102, 102);
	font-size: 1.4rem;
	width: 245px;
}

.remove{
	background: none;
	outline: none;
	border: none;
	color: rgb(252, 0, 0);
	font-size: 1.2rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	cursor: pointer;
}
